[submodule "gateware"]
	path = gateware
	url = https://git.beagleboard.org/beaglev-fire/gateware.git
[submodule "hart-software-services"]
	path = hart-software-services
	url = https://git.beagleboard.org/beaglev-fire/hart-software-services.git
